<!DOCTYPE html>
<html>
<head>
	<title> PatternBased API </title>
	<style type="text/css">
		.lead {
			padding: 6px;
			width: 40%;
			margin: 40px auto;
			font-weight: 500;
			font-size: 1em;
			color: #999;
			line-height: 1.4em;
			font-family: Arial, Helvetica, sans-serif;
		}
		center {
			display: block;
			margin: 40vh auto;
		}
	</style>
</head>
<body">
	<center>
		<img src="./assets/PatternBased_Catalog_logo.svg" width="200">
		<p class="lead">This is PatternBased API.<br/><a href="https://patternbased.com/contact/">Contact us</a> to access.</p>
	</center>
</body>
</html>
