body {
    background: #fff;
    color: #666;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0; bottom: 0; left: 0; right: 0;
    /* text-align: center; */
}

p, h1, h2, h3, h4 {
    margin: 0;
}

input {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 20px;
    padding: 5px;
    width: 300px;
    border: none;
    border-bottom: #666 1px solid;
    background: none;
    cursor: pointer;
}

button.small {
    width: fit-content;
    height: fit-content;
    background: #666;
    padding: 7px 10px;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin: 0 16px 16px 0;
}

button.small:hover {
    background: #0092C5;
    transition-duration: 200ms;
}